#chessboard {
    height: 100vh;
    width: 100vw;
    border: "2px solid red";
    display: flex;
}

.red {
    background-color: red !important;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}